<a href="https://colab.research.google.com/github/faroanalytics/COVID-19/blob/master/Copy_of_optiverkaggle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount("/content/gdrive")

Mounted at /content/gdrive

In [ ]:
pd.read_parquet('/content/gdrive/My Drive/optiver-realized-volatility-prediction/book_train.parquet/stock_id=0/c439ef22282f412ba39e9137a3fdabac.parquet', engine='pyarrow')

        time_id  seconds_in_bucket  bid_price1  ...  ask_size1  bid_size2  ask_size2
0             5                  0    1.001422  ...        226          2        100
1             5                  1    1.001422  ...        100          2        100
2             5                  5    1.001422  ...        100          2        100
3             5                  6    1.001422  ...        126          2        100
4             5                  7    1.001422  ...        126          2        100
...         ...                ...         ...  ...        ...        ...        ...
917548    32767                568    0.998275  ...         90         48         28
917549    32767                569    0.998275  ...         90        200         28
917550    32767                571    0.998275  ...         90        100         28
917551    32767                572    0.998275  ...         90        100         28
917552    32767                582    0.998275  ...         90         26         28

[917553 rows x 10 columns]